* {
	font-family: cursive, sans-serif;
	box-sizing: border-box;
}

/* header  */

.navbar {
	background: linear-gradient(90.21deg, rgb(170, 54, 124) -5.91%, rgb(74, 47, 189) 111.58%);
	color: white !important;
	border-bottom: 3px solid white;
}

.navbar-brand {
	text-decoration: none;
	color: white;
	font-weight: 800;
	background: linear-gradient(90.21deg, rgb(170, 54, 124) -5.91%, rgb(74, 47, 189) 111.58%);
}

.navbar a:hover {
	color: unset;
}

.navbar .btn,
.table-secondary {
	background: linear-gradient(90.21deg, rgb(170, 54, 124) -5.91%, rgb(74, 47, 189) 111.58%) !important;
}

.btn:hover {
	background: white !important;
	color: black !important;
	opacity: 0.5;
}

/* home page  */

body {
	background: linear-gradient(90.21deg, rgb(170, 54, 124) -5.91%, rgb(74, 47, 189) 111.58%);
}

.table-responsive {
	border: 2px solid white;
	border-radius: 5px;
}

.update-icon,
.delete-icon {
	width: 30%;
	margin: auto;
	border-radius: 10%;
	cursor: pointer;
}

.update-icon:hover,
.delete-icon:hover {
	backdrop-filter: contrast(0.8);
}

.add-btn,
button {
	background: linear-gradient(90.21deg, rgb(170, 54, 124) -5.91%, rgb(74, 47, 189) 111.58%);
	color: white;
}
